/* For STG env */
@font-face{
	font-family :Codere;
	src         :url(./fonts/HighSchool-V3.1.ttf);
	}

/* For PRD */
@font-face{
	font-family :Codere;
	src         :url(https://www.codere.es/Spain/assets/fonts/HighSchool-V3.1.ttf);
	}

body{
	background-color :#252a30;
	font-family      :"Roboto";
	}

html {
  font-size: 16px;
}

html,
body {
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-button {
  /* border-radius: 5px; */

  width: 0;
}

/*.inicio  > img {*/
/*  width: 100% !important;*/
/*  height: auto !important;*/
/*  !*aspect-ratio: 16 / 9 !important;*!*/
/*  }*/

.apps a:nth-child(2) img {
  height: 4.5rem !important;
  width: fit-content !important;
}
.mobileViewAppLogos {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}
/* Cookie Consent */

.cookie-content {
  font-size: 12px;
  margin: 10px 0 0 !important;
}

#rcc-confirm-button {
  display: none;
}

.cookie-text {
  padding-left: 14px;
}

.cookie-text a:hover {
  color: #79c000;
}

.cookie-btn-group {
  margin: 14px 0 0 0;
}

.cookie-btn {
  margin: 0 21px 0 0;
  border-radius: 25px !important;
  font-weight: 600;
  font-size: 0.87rem;
  padding: 4px 0;
  min-width: 184px;
  border: unset;
}

.gr-cookie,
.gr-cookie:hover,
.gr-cookie:active {
  background-color: #79c000 !important;
}

.wh-cookie,
.wh-cookie:hover,
.wh-cookie:active {
  background-color: #fff !important;
  color: #000 !important;
}

.cookie-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.cookie-container {
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

/* stroke */
.header-group-left {
  display: flex;
  position: absolute;
  left: 30px;
}
.header-group-right {
  display: flex;
  position: absolute;
  align-items: flex-start;
  padding-top: 5px;
  right: 30px;
}

.navbar-nav {
  /* padding-top: 0; */
  padding-left: 20px;
}

#dropdownMenuBtnInicio > svg > path{
	fill :#000000 !important;
	}

#dropdownMenuBtnInicio:hover > svg > path{
	fill :#ffffff !important;
	}

#dropdownMenuBtnInicio:active > svg > path{
	fill :#ffffff !important;
	}

#dropdownMenuBtnInicio:hover{
	text-decoration  :none;
	background-color :#79c000;
	}

#dropdownMenuBtnInicio:active, #dropdownMenuBtnInicio.show{
	text-decoration  :none;
	background-color :#79c000 !important;
	}

.stroke .navbar-nav a,
.stroke .navbar-nav a:after,
.stroke .navbar-nav a:before {
  transition: all 0.5s;
}

.stroke .navbar-nav a {
  position: relative;
}

.stroke .navbar-nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fff;
  height: 2px;
  border-radius: 5px;
}

.stroke .navbar-nav a:hover:after {
  width: 100%;
}

/* End Stroke */

.header_nav {
  background-color: #79c000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #333f48;
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 6;
  height: 4rem;
}

.header_nav img {
  position: relative;
  width: 90%;
  margin-right: 2%;
  left: 0;
  cursor: pointer;
}

/* DropDown */

.dropdown-item:active {
  color: #000;
  background-color: #fff !important;
}
/* .btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: unset !important;
  border-color: unset !important;
} */

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: unset;
}

.dropdown button {
  background: 0 0;
  border: unset;
  color: #000;
  /* font-size: 1vw; */
}

.dropdown .svg-inline--fa {
  height: 1.5vw;
  position: relative;
  top: 0.2vw;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown button:hover {
  background: 0 0;
  color: #fff;
  border: unset;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 0.4vw;
  left: -5vw;
}

.dropdown-menu {
  width: 15rem;
  background-color: #212529db;
  text-align: center;
  margin: auto;
}

.dropdown-item {
  margin: auto;
  color: #fff;
  border-bottom: #ffffff73 0.5px solid;
  padding: 0.55rem 0rem;
  text-transform: capitalize;
  width: 80%;
}

.dropdown a:nth-child(1) {
  padding-top: 5px;
}

.dropdown a:nth-last-child(1) {
  border: unset;
  padding-bottom: 5px;
}

.dropdown-item:hover {
  font-weight: 600;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.9s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.show .dropdown-menu {
  max-height: 23rem;
  opacity: 1;
}

/* End DropDown */

.acceder-button {
  background: 0 0;
  border: 1px solid #333f48;
  color: #333f48;
  font-size: 0.95vw;
  line-height: 2.25vw;
  padding: 0 1vw;
  border-radius: 30px;
}

.acceder-button,
.registrate-button {
  box-shadow: 0px 2px 7px -4px rgb(0 0 0);
}

.acceder-button:hover {
  background: 0 0;
  border: 1px solid #fff;
  color: #fff;
}

.btn .btn-primary:hover {
  background-color: unset;
}

.central-regis,
.registrate-button,
.jugar-regis,
.bottom-game-regis {
  border-radius: 30px;
  font-size: 0.95vw;
  padding: 0.4vw 1.3vw;
  margin: 0;
  margin-left: 0.5vw;
  font-weight: 600;
  display: block;
  height: 100%;
  background: linear-gradient(180deg, #0587f5, #0263b5);
}

.central-regis:hover,
.registrate-button:hover {
  background: linear-gradient(180deg, #0263b5, #0587f5);
}

.central-regis {
  position: relative;
  top: -10vw;
  left: 16.3vw;
  line-height: 1.2;
  width: 17vw;
  font-size: 1.6vw;
  border-radius: 70px;
  padding: 0.7vw 0 0.7vw;
  z-index: 1;
  border-color: rgba(227, 227, 227, 0.63);
  text-transform: uppercase;
}

.jugar-div {
  position: relative;
  top: -0.25vw;
}

.jugar-regis {
  width: 11vw;
  float: right;
  font-size: 1.2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 40px;
}

.gl-effect {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% {
    background-color: "#0055fe0";
    -webkit-box-shadow: 0 0 4px #ffffff;
  }

  50% {
    background-color: "#0055fe0";
    -webkit-box-shadow: 0 0 7px #ffffff;
  }

  100% {
    background-color: "#0055fe0";
    -webkit-box-shadow: 0 0 3px #ffffff;
  }
}

.central-regis svg {
  margin-left: 0.2vw;
}

.central-regis:hover svg {
  animation: sideToSide2 0.8s infinite;
}

@keyframes sideToSide2 {
  0% {
    transform: translateX(0.2rem);
  }

  50% {
    transform: translateX(-0.1rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

.login_btn {
  margin: auto;
  text-align: center;
  background-color: #79c000;
  border: #79c000;
  width: 65%;
  margin-bottom: 5vw;
  padding: 1em;
  border-radius: 20px;
}

.form-control {
  width: 65%;
  text-align: center;
  font-size: 20px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-color: #79c000;
  margin: auto;
  padding: 0.7vw;
  border-radius: 20px;
}

.modal-content {
  border-radius: 30px;
}

.btn-close:hover {
  transform: rotate(360deg);
  transition: transform 600ms ease-out;
}

.modal-header .btn-close {
  padding: 0;
  margin: 0;
}

#modal_app {
  text-align: center;
}

#carousel-section {
  position: relative;
  top: 4rem;
  margin-bottom: 4rem;
}

/* Swiper */
.swiper-slide img {
  width: 100%;
  height: auto;
  max-height: 890px;
}

.swiper-pagination-bullet-active {
  background-color: #79c000 !important;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}

/* GAMES */

.sport-games-slider {
  width: 75%;
  margin: auto;
  text-align: center;
}

#desktop_games {
  text-align: center;
}
#desktop_games .game-title,
#mobile_games .game-title {
  display: block;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 600;
}

#desktop_games h2 {
  color: #fff;
  font-size: 1.4vw;
  color: #e8e5e5;
  font-weight: 700;
  /* margin-bottom: 1vw; */
  letter-spacing: 1px;
  /* margin-top: 2.5vw; */
}

#desktop_games h1:nth-child(1) {
  margin-top: 3vw;
}

.top_games_conatiner {
  display: inline-flex;
  grid-template-columns: auto auto 0;
  grid-gap: 3rem;
  padding: 1rem 0 4rem;
}

.top_games_conatiner .topGame {
  margin: auto;
  width: 35vw;
}

.topGameImage,
.game_logo {
  transition: 0.3s;
}

.top_games_conatiner .topGame:hover .topGameImage {
  filter: blur(8px);
  transform: scale(0.95);
}

.top_games_conatiner .card {
  background-color: #26363f;
  border-radius: 40px;
  height: 25vw;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  border-radius: 16px;
}

img.topGameImage {
  position: absolute;
  width: 35vw;
  height: auto;
  top: 0;
  left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.78);
}

img.game_logo {
  margin: auto;
  height: auto;
  width: 50%;
  position: relative;
  top: 3vw;
  z-index: 1;
  cursor: pointer;
}

.top_games_conatiner .topGame:nth-child(2) .game_logo {
  top: 3vw;
  width: 100%;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.15, 1.15);
  }
  100% {
    transform: scale(1, 1);
  }
}

img.game_logo:hover {
  /* transform: scale(1.15); */
  animation: zoom-in-zoom-out 1s ease-out infinite;
}

.game_info {
  bottom: 1vw;
  position: absolute;
  text-align: left;
  border-left: 4px #fff solid;
  border-radius: 1px;
  color: #fff;
  line-height: 0.25;
  padding-left: 1vw;
  margin-left: 1vw;
}

.topGameTitle {
  color: #fff;
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: -1px;
}

/* Botttom Games */
.bottom_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  cursor: pointer;
}

.bottom_conatiner h3 {
  /* margin-top: 6px; */
  color: #fff;
  font-size: 1.3vw;
}

.bottom-box .game img {
  width: 26rem;
  height: auto;
  border-radius: 15px;
}

.bottom-box .logo img {
  height: 5vw;
  width: 100%;
}

.bottom-box .logo img:hover {
  animation: zoom-in-zoom-out 1s ease-out infinite;
}

.bottom_conatiner :nth-child(3) .logo {
  top: 0;
}

.bottom_conatiner :nth-child(3) .logo img {
  height: 17vw;
}

.bottom_conatiner .bottom-card {
  position: relative;
  min-width: 20vw;
  height: 28vw;
  box-shadow:
    inset 5px 5px 5px rgb(0 0 0 / 20%),
    inset -5px -5px 15px rgb(255 255 255 / 10%),
    5px 5px 15px rgb(0 0 0 / 30%),
    -5px -5px 15px rgb(255 255 255 / 10%);
  border-radius: 15px;
  margin: 25px 0;
  transition: 0.5s;
}

.bottom_conatiner .bottom-card .game {
  transition: 0.5s;
}

.bottom_conatiner .bottom-card .bottom-box {
  position: absolute;
  height: 25vw;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bottom_conatiner .bottom-card:hover .game {
  transform: scale(0.9) translateY(-3vw);
  filter: blur(7px);
}

.bottom_conatiner .bottom-card .bottom-box .bottom-content {
  padding: 10px;
  text-align: center;
}

.bottom_conatiner .bottom-card .bottom-box .bottom-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.bottom_conatiner .bottom-card .bottom-box .bottom-content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.bottom_conatiner > a:nth-child(2) .logo {
  top: 0;
}

.bottom-box .logo {
  position: absolute;
}

.bottom_conatiner .bottom-card .bottom-box .bottom-content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.bottom-content span {
  display: inline-block;
  position: relative;
  top: 21.5vw;
  color: white;
  font-size: 1.2vw;
  padding: 6px 23px 6px 25px;
  margin-bottom: 0.4vw;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  z-index: -1;
}

.bottom-game-title {
  position: relative;
  top: 22.75vw;
}

.bottom_conatiner .bottom-card .bottom-box .bottom-content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.bottom-content .svg-inline--fa {
  top: 0;
  height: 0.8em;
  left: 5px;
}

#swipe-down {
  color: #fff;
  top: -10vw;
  left: 48%;
  width: 30px;
  height: auto;
  z-index: 999;
  border-radius: 50vw;
  border: 5px #fff solid;
  padding: 12px;
  cursor: pointer;
  animation-name: upanddown;
  animation-duration: 1s;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes upanddown {
  0% {
    transform: translateY(0.4rem);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0.4rem);
  }
}

/* Content */
.content-container {
  margin: auto;
  color: #fff;
  width: 90%;
}

.content-container .col-sm-4 {
  padding: 1.2vw;
  margin: 17px;
}

.bottomContentTitle,
.bottomContentSubTitle,
.content-container .row a {
  color: #79c000;
}

.gamesTitle {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.content-container .row .col {
  border-right: 2px #79c000 solid;
}

.content-container .row .col:nth-last-of-type(1) {
  border-right: unset;
}

.apuestas {
  margin: auto;
  width: 50rem;
}

.apuestas .col {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.sponsors,
.bottomContentTitle,
.content-container > p {
  /* margin-left: 4vw; */
}

.left-col,
.middle-col,
.right-col {
  width: 30%;
  padding: 1.2em 1.2em 0 1.2em;
  border-radius: 25px;
  margin: 1px;
}

/* Table */
.table {
  width: 100%;
  margin: auto;
  margin-bottom: 3vw;
}

.table > tbody {
  vertical-align: middle;
}

/* Table End  */

/* Tabs */
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  background: #252a30;
  color: #fff;
  font-weight: 600;
  border-right: #79c000 0.5px solid;
  border-left: #79c000 0.5px solid;
  border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: unset;
  border-color: transparent;
  color: #fff;
  border-bottom-color: #79c000;
  text-decoration: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-bottom-color: #79c300;
  border-color: #252a30 #252a30 #79c300 #252a30;
  border-radius: 8px;
  text-decoration: none;
}

.seo-questions {
  margin: auto;
  width: fit-content;
}

.tab-content > .active {
  text-align: left;
  margin: auto;
  width: 64%;
}

/* End Tabs */

/* Content Accordion */
#acc-section {
  width: 70%;
  margin: auto;
}

#acc-section h2 {
  font-size: 1.8rem;
}

.accordion-body {
  color: #fff;
}

.accordion-body ul {
  padding-left: 0.9rem;
  margin-top: -3vw;
}

.content-accordion .accordion-button:not(.collapsed),
.content-accordion .accordion-button {
  color: #79c000;
  background-color: unset;
}

.accordion-button:not(.collapsed),
.accordion-button {
  background-color: unset;
}

.accordion-header,
.accordion-item {
  background-color: unset;
}

.accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.hamb-accordion {
  color: #fff;
}

.hamb-accordion .accordion-item {
  border: unset;
}

.hamb-accordion .accordion-button:not(.collapsed),
.hamb-accordion .accordion-button {
  color: #fff;
  font-size: 5vw;
  border-bottom: #fff 1px solid;
  border: unset;
  box-shadow: none;
}

.hamb-accordion .accordion-body {
  padding: 0;
}

.hamb-accordion .accordion-body li {
  padding-top: 1.1vw;
}

.hamb-accordion .accordion-body li a {
  width: 100%;
  display: block;
}

/* End Accordion */

/* End Content */

/* ------------------------ */

/* Footer */

/* footer.nb-footer {
    background: #252a30;
    border-top: 4px solid #79c000;
  } */

hr {
  margin: auto;
  margin-top: 3vw;
  border-top: 4px solid #79c000;
  width: 55%;
}

footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}

footer.nb-footer .about .social-media {
  margin-top: 10px;
}

.about .social-media ul li a{
	align-items      :center;
	background-color :#fff;
	border           :1px solid hsla(0, 0%, 100%, .3);
	border-radius    :50%;
	box-shadow       :0 0 5px 1px hsla(0, 0%, 100%, .71);
	color            :#79c000;
	display          :flex;
	flex-wrap        :nowrap;
	font-size        :25px;
  height: 46px;
	justify-content  :center;
  line-height: 45px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 25px;
  color: #79c000;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.71);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.71);
}

.about .social-media ul li a > svg{
	width :1.5vw;
	}
.codereFooterList-inlineAdds {
	display:flex;
	justify-content:center;
	align-items:center;
	}
.list-inline li {
  display: inline-flex;
  padding-left: 1vw;
}

.list-inline li:nth-child(1) {
  padding-left: 0;
}

.fa-comments,
.fa-headset {
  color: #252a30;
}

.fa-facebook-f {
  color: #4267b2;
}

.fa-x-twitter {
  color: #000;
}

.fa-youtube {
  color: #ff0000;
}

.fa-instagram {
  color: #d6249f;
}

footer.nb-footer .about .social-media ul li a:hover {
  background: #fff;
  color: #fff;
}

footer.nb-footer .footer-info-single {
  margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
  color: #79c000;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #79c000;
  padding-left: 5px;
  font-weight: 500;
}

footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #fff;
  padding: 2px 0;
  text-decoration: none;
}

footer.nb-footer .footer-info-single ul li a:hover {
  color: #79c000;
}

footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}

#legals {
  margin: auto;
  display: flex;
  width: 60%;
  font-size: 0.7vw;
  line-height: 25px;
  text-align: left;
  color: #a1a4a6;
}

#legals img {
  position: relative;
  width: 3vw;
  margin-right: 1vw;
}

.sponsors {
  display: flex;
  margin: 1.25rem auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 60%;
}

.sponsors img {
  height: auto;
  max-width: 100px;
  /* margin: 0.25rem 0.5rem; */
}

.juegas-banners {
  margin-bottom: 1rem;
}

.juegas-banners .col,
.apps .col {
  text-align: center;
}

.juegas-banners img {
  max-height: 1.5rem;
  padding-left: 2vw;
  width: auto;
}

.juegas-banners a:nth-child(2) img {
  max-width: auto;
  max-height: 3rem;
}

.apps a:nth-child(1) img {
  height: 3rem !important;
  width: auto;
}

.apps a:nth-child(2) img {
  height: 4.5rem;
  padding-left: 0.5vw;
}

/* End Footer */

/* Mobile */
@media only screen and (max-width: 767px) {
  .cookie-btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    gap: 10px;
    width: 55%;
  }

  /* Cookie */
  .cookie-btn {
    font-size: 4vw;
    padding: 0;
    padding: 2px 0;
    margin: auto;
    width: 20%;
  }
  .cookie-text {
    padding-right: 14px;
  }

  /* End Cookie */
  .content-container {
    width: 96%;
  }

  .modal-dialog {
    top: 23vw;
    margin: auto;
    width: 84%;
  }

  .form-control {
    width: 85%;
  }

  /* Buttons Mobile */
  .acceder-button {
    background: 0 0;
    border: 1px solid #333f48;
    color: #333f48;
    font-size: 3.95vw;
    line-height: 9.25vw;
    padding: 0 3.5vw;
    border-radius: 30px;
  }

  .registrate-button {
    border-radius: 30px;
    font-size: 3.95vw;
    padding: 2vw 3.3vw;
    margin: 0;
    margin-left: 1.2vw;
    font-weight: bold;
    display: block;
    height: 100%;
    background: linear-gradient(180deg, #0587f5, #0263b5);
  }

  /* End Buttons Mobile */
  #outer-container > a {
    display: block;
    position: relative;
    width: 33vw;
    height: 9vw;
    left: 13vw;
    margin-right: 17vw;
  }

  #outer-container > a img {
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0.8vw;
  }

  img.hamburgerAviatorLogo {
    width: 5vw;
    left: 0;
    top: 0;
    margin-right: 2.2vw;
  }

  .header_nav {
    width: 100%;
  }

  #header_buttons {
    display: flex;
    margin-right: 2vw;
  }

  #father {
    display: flex;
    flex-direction: row;
  }

  .bm-item-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: #fff 1px solid;
    padding: 1vw;
    padding-top: 3vw;
		display         :flex !important;
		width           :100%;
		justify-content :space-between;
		align-items     :center;
		}

	.mobMenuSVGwrapper svg{
		height       :1.6em !important;
		margin-right :0.5rem;
		min-width    :36px;
  }

  #father a svg:first-child {
    margin-right: 3vw;
  }

  /* Hamburger */
  /* Position and sizing of burger button */
  nav ul,
  nav li {
    list-style: none;
  }

  .bm-burger-button {
    position: absolute;
    width: 28px;
    height: 20px;
    left: 3vw;
    top: 1.5rem;
  }

  .bm-menu-wrap,
  .bm-overlay {
    top: 0;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    opacity: 1 !important;
    background: #334049;
    border-radius: 60px;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #334049;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 12px;
    width: 12px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: rgba(50, 63, 72);
    padding: 0 0.5em 0 1.5em;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: rgba(50, 63, 72);
    overflow-y: auto;
  }

  #elastic .accordion-body {
    height: 65vh;
  }
  #elastic,
  #outer-container .bm-overlay {
    height: 100% !important;
    top: 4rem !important;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding-top: 0.8em;
    width: 182%;
    overflow-y: auto;
  }

  .bm-menu .fa-angle-right {
    float: right;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  .bm-item:focus-visible,
  .bm-item:focus {
    outline: unset;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.7) !important;
  }

  .bm-burger-button > span > span:nth-child(1) {
    width: 90%;
    transition: transform 100ms;
  }

  .bm-burger-button > span > span:nth-child(2) {
    width: 90%;
    transition: transform 100ms;
  }

  .bm-burger-button > span > span:nth-child(3) {
    width: 70%;
    transition: transform 100ms;
  }

  .open > span > span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: transform 700ms;
  }

  .open > span > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: transform 400ms;
  }

  .open > span > span:nth-child(1) {
    top: 2vw !important;
    width: 80%;
    left: 5%;
  }

  .open > span > span:nth-child(2) {
    width: 0%;
  }

  .open > span > span:nth-child(3) {
    top: 2vw !important;
    width: 80%;
    left: 5%;
  }

  /* End Hamburger */
  .navbar-expand .navbar-nav .nav-link {
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
  }

  #carousel-section {
    top: 14vw;
    margin-bottom: 12vw;
  }

  /* Games */
  #mobile_games {
    margin-top: -10vw;
    margin-bottom: 10vw;
  }

  #mobile_games .game-title {
    text-align: center;
    font-size: 1.25rem;
    color: #79c000;
    margin-bottom: 5px;
  }

  .game-carousel {
    margin-bottom: 10vw;
  }

  .swiper-pagination {
    bottom: 0 !important;
  }

  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 10px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 10px)
    );
  }

  /* End Games  */
  /* Content */
  .content-container .col-sm-4 {
    margin: 0;
  }

  .left-col,
  .middle-col,
  .right-col {
    width: auto;
  }

  .apuestas {
    width: auto;
    margin-bottom: 3vw;
  }

  .apuestas .col:nth-last-of-type(4) {
    border: unset;
  }

  .apuestas .col:nth-last-of-type(1),
  .apuestas .col:nth-last-of-type(2),
  .apuestas .col:nth-last-of-type(3) {
    margin-top: 1rem;
  }

  .apuestas .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* End Content */
  /*  Sticky Footer */
  .sticky-footer-contatiner {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #252a30;
    height: 17vw;
    width: 100%;
    z-index: 5;
    padding: 2vw;
  }

  .sticky-item {
    display: inline-block;
    font-size: 4.4vw;
    padding: 2vw 0.5vw 2vw 0.5vw;
    box-shadow: none;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    width: 31vw;
    background: #79c000;
    border-radius: 40px;
    text-align: center;
    margin-left: 1vw;
    -webkit-box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 75%);
    border: none;
  }

  /* End Sticky Footer */
  /* Footer */
  .bottomContentText,
  .bottomContentSubTitle {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footerLinksSplash {
    display: flex;
  }

  .footerLinksSplash > .col {
    flex: 50%;
  }

  footer {
    margin-bottom: 20vw;
  }

  /* social */
	.list-inline{
		align-items     :center;
		display         :flex;
		justify-content :center;
		}

  .list-inline li {
    padding-left: 5vw;
  }

  .list-inline li:nth-child(1) {
    padding-left: 0;
  }

	.about .social-media ul li a > svg{
		width :7vw;
		}

  #legals {
    display: flex;
    width: 100%;
    font-size: 3vw;
    line-height: 15px;
    text-align: left;
  }

  #legals img {
    width: 10vw;
    margin-left: 2vw;
    margin-right: 3vw;
  }

  .sponsors,
  .bottomContentTitle,
  .content-container > p {
    /* margin-left: 2vw; */
  }

  .sponsors {
    width: 100%;
  }

  .sponsors img {
    width: 27vw;
    padding: 1.2vw;
    /* margin-left: 3vw; */
  }

  /* End Footer */
  #acc-section {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .juegas-banners img {
    margin-top: 2vw;
  }
}

@media (min-width: 1400px) {
  /* .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 80%;
    } */
}
